<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/tailwind.css" rel="stylesheet" />
		<title>Login Page</title>
	</head>
	<body>
		<h1 class="text-3xl font-bold underline mx-auto my-8 text-center">
			Please Log In
		</h1>
		<div
			class="max-w-2xl mx-auto p-8 bg-white shadow-lg rounded-xl border border-gray-200"
		>
			<form action="/login" method="post">
				<div class="flex flex-col gap-2">
					<label for="email" class="text-sm font-semibold text-gray-600"
						>Email</label
					>
					<input
						id="email"
						name="email"
						type="text"
						autocomplete="email"
						class="border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-emerald-600 focus:border-transparent transition-all"
						required
					/>
					<label for="password" class="text-sm font-semibold text-gray-600"
						>Password</label
					>
					<input
						id="password"
						name="password"
						type="password"
						autocomplete="password"
						class="border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-emerald-600 focus:border-transparent transition-all"
						required
					/>
				</div>
				<div class="w-full flex mt-6 justify-center">
					<button
						type="submit"
						class="w-full md:w-[420px] md:px-10 bg-emerald-700 hover:bg-emerald-800 text-white font-bold py-3 rounded-lg shadow-md hover:shadow-lg transition-all cursor-pointer m-auto"
					>
						Log in
					</button>
				</div>
			</form>
			<div class="w-full mx-auto mt-6 flex justify-center">
				<a
					href="/signup/create-account"
					class="inline-flex items-center justify-center w-full md:w-[420px] md:px-10 border border-emerald-700 bg-white hover:bg-emerald-900 text-emerald-700 hover:text-white font-bold py-3 rounded-lg shadow-md hover:shadow-lg transition-all cursor-pointer m-auto text-center"
				>
					Not a Member? Signup today!
				</a>
			</div>
		</div>
	</body>
</html>
