<a href="/logout">Log Out</a>

<div class="max-w-8xl mx-auto py-4">
	<div class="flex items-center justify-between">
		<div class="flex w-full justify-between items-center space-x-3">
			<a class="" href="/products">
				<img
					src="/greenventory-logo.png"
					alt="Greenventory Logo"
					class="h-16"
				/>
			</a>
			<div class="hidden md:flex space-x-8">
				<a
					href="/categories"
					class="text-gray-600 hover:text-emerald-600 transition-colors"
					>Categories</a
				>
				<a
					href="/strains"
					class="text-gray-600 hover:text-emerald-600 transition-colors"
					>Strains</a
				>
				<a
					href="/brands"
					class="text-gray-600 hover:text-emerald-600 transition-colors"
					>Brands</a
				>
			</div>
		</div>
	</div>
</div>
