<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create New Product</title>
	</head>
	<body>
		<form method="POST" action="/create-product">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" />

			<label for="description">Description:</label>
			<input type="text" id="description" name="description" />

			<label for="description">Price: $</label>
			<input type="number" id="price" name="description" />

			<label for="description">Unit</label>
			<input type="text" id="description" name="description" />

			<label for="pet-select">Choose a Brand:</label>

			<select name="brand" id="brand-select">
				<option value="">--Please select a brand--</option>
				<% brands.forEach((brand) => { %>
				<option value=""><%= brand.name %></option>
				<% }) %>
			</select>
		</form>
	</body>
</html>
