<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/tailwind.css" rel="stylesheet" />
		<title>Cannabis Inventory</title>
	</head>
	<body>
		<div
			class="p-6 max-w-sm mx-auto bg-green-500 rounded-xl shadow-md flex items-center space-x-2 cursor-pointer"
		>
			<h2 class="mx-auto text-2xl text-white">
				<a href="/products" class="size-full">See Inventory</a>
			</h2>
		</div>
	</body>
</html>
