* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.product-row {
	display: flex;
	flex-direction: column;
}

.products-table {
	height: 100vh;
	width: 100%;
	border: 2px solid red;

	color: green;
}
.table-header {
	color: red;
}
