* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.product-row,
.category-row {
	width: 100%;
	border: 2px solid yellow;
}

.product-row a,
.category-row a {
	margin: 0;
	padding: 0;
	width: auto;
}
.products-table,
.category-table {
	height: auto;
	width: 100%;
}
.table-header {
	border-bottom: 2px;
	border: 2px solid rgb(0, 97, 68);
}
