<ul >
  <% locals.inventory.forEach(batch => { %>
    <li class="flex justify-between items-center">
      <div><strong>Lot:</strong> <%= batch.lot_number %></div>
      <div><strong>Location:</strong> <%= batch.location %></div>
      <div><strong>Quantity:</strong> <%= batch.quantity %></div>
      <a href="/products/<%= product.id %>/adjust" class="btn-secondary">Adjust Quantity</a>

    </li>
  <% }) %>
</ul>