<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>Brands Page</title>
	</head>
	<body>
		<h1><%= message %></h1>
		<button><a href="/brands/create-brand">Create New Brand</a></button>
		<button><a href="/brands/">See Brands</a></button>
		<table class="brands-table">
			<tr class="brands-table-headers">
				<th class="table-header">Name</th>
				<th class="table-header">Description</th>
			</tr>
			<% brands.map((brand) => { %>
			<tr class="brand-row">
				<td><a href="/brands/<%=brand.id%>"><%=brand.name %></a></td>
				<td><%= brand.description %></td>
			</tr>
			<% }) %>
		</table>
	</body>
</html>
